<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinite Pong</title>

    <link href="../assets/pongInfinite.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="score">
    <div>Top Player: <span id="topScore">0</span></div>
    <div>Bottom Player: <span id="bottomScore">0</span></div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.10/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.10/addons/p5.dom.js"></script>
    <script src="../assets/Main.js"></script>
    <script src="../assets/GameObject.js"></script>
    <script src="../assets/Ball.js"></script>
    <script src="../assets/Paddle.js"></script>
    <script src="../assets/Score.js"></script>

</body>
</html>