body{
    background-color: navajowhite;
}

/*#score{*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*margin: 20px auto;*/
    /*color: black;*/
    /*font-size: 2em;*/
    /*width: 500px;*/
/*}*/

.score{
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto;
}

#bottomScoreDiv{
    margin-top: 540px;
}

#mute{
    position: absolute;
    top: 20px;
    left: 50px;
}

